body {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 100%;
    height: 1000px;
    background: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 20px;
}

.verh {
    width: 900px;
    height: 200px;
    background: #0039ff;
    text-align: center;
    border-radius: 5px;
}

.verh > p {
    color: #141e27;
    font-size: 25px;
    padding-top: 80px;
}

.seredina {
    width: 700px;
    height: 400px;
    background: #fcf602;
    text-align: center;
    border-radius: 10px;
}

.seredina > p {
    color: #122d3f;
    font-size: 25px;
    padding-top: 80px;
}

.niz {
    width: 200px;
    height: 400px;
    background: #f50368;
    text-align: center;
    border-radius: 10px;
}

.niz > p {
    color: #141e27;
    font-size: 25px;
    padding-top: 80px;
}

.razom {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 20px;
}

@media screen  and (min-width: 0) and  (max-width: 972px) {
    .container {
        align-items: center;
        row-gap: 30px;
    }

    .verh {
        width: 700px;
        height: 100px;
    }

    .verh > p {
        padding-top: 10px;
    }

    .seredina {
        width: 700px;
        height: 500px;
    }

    .seredina > p {
        padding-top: 200px;
    }

    .niz {
        width: 700px;
        height: 100px;
    }

    .niz > p {
        padding-top: 10px;
    }

    .razom {
        flex-wrap: wrap;
        row-gap: 30px;
    }
}