body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 250px;
    background-image: url("https://images.prom.ua/3733139107_w640_h640_foto-fon-vinilovyj-patrioticheskij.jpg");
}

.block-post {
    border: 1px solid red;
    text-align: center;
    background: #07f5c9;
    color: #063095;
    padding: 5px;
    font-size: 18px;
}

.block-comment {
    background: #ff0000;
    border: 1px solid #141e27;
    text-align: center;
    color: #2269ba;
    display: flex;
}

.comment {
    border: 1px solid black;
    width: 250px;
    margin: 10px;
    column-gap: 10px;
    background: #ffffff;
    padding: 5px;
}