body {
    display: flex;
    justify-content: center;
    background: radial-gradient(at 0% 0%, #6b5ef7, #f75e5e);
}


.block {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 500px;
    height: 1000px;
    row-gap: 10px;
    margin: 10px;
}

.block-users {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #241e7d;
    border: 3px solid green;
    border-radius: 10%;
    width: 200px;
    justify-content: center;
    margin: 10px;
}

p {
    text-align: center;
    color: #77e81a;
}

button {
    background: #07f5c9;
    cursor: pointer;
}