.product-image {
    width: 200px;
}

.border {
    background: #2208ea;
    color: #fdfdfe;
    width: 500px;
}

.border2 {
    background: #e5e40a;
    width: 500px;
}

.border3 {
    background: #19e307;
    width: 500px;
}